span.nospace {
    letter-spacing: -18px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  margin: 2px;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
  margin: 30px;
}



/* all images occupy max 70% of available horizontal space */
img {max-width: 70%;max-height: 250px;}

/*     max-width: 70%;  Breaks the alignment of the tooltip       */
.tooltip-inner { max-width: 1000px; font-size: 16px; text-align: left;}
