{% extends "index.html" %}
{% block welcome %}

<h4>Simple Profile View</h4>


<input type="hidden" id="lang" name="lang" value="{{ lang }}">
<input type="hidden" id="original_grammar" name="original_folder" value="">

<br>


<table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th>i-id</th>
                <th>i-wf</th>
                <th>readings</th> <!-- number of deriv trees -->
                <th>i-input</th> 
                <th>i-comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

	    {% for id, item in tsdb_min.items() %} <!-- keys = i-id -->
            <tr>
                <td>{{ id  }}</td> <!-- id -->
                <td>{{ item["i-wf"] }}</td> <!-- i-wf -->
                <td>{{ item["readings"] }}</td> <!-- readings -->
                <td class="sentence">{{ item["i-input"] }}</td> <!-- i-input -->
                <td>{{ item["i-comment"] }}</td> <!-- i-comments -->
                <td><button sent="{{ item['i-input'] }}"
			    class="parse">PARSE</button></td>
            </tr>
	    {% endfor %}

	    
        </tbody>
        <tfoot>
            <tr>
                <th><input type="text" size="1" placeholder="i-id"/></th>
                <th><input type="text" size="1" placeholder="i-wf"/></th>
                <th><input type="text" size="4" placeholder="readings"/></th> <!-- number derivations trees -->
                <th><input type="text" size="30" placeholder="i-input"/></th> 
                <th><input type="text" size="5" placeholder="i-comment"/></th>
                <th></th>
            </tr>
        </tfoot>
    </table>





<br><br>
<div class="row text-right">
  <div class="col-sm-7"></div>
  <select class="col-sm-3 form-control form-control-lg"
	  id="selected_grammar" name="selected_grammar" required>
    {% for g in grammars  %} 
    <option value="{{ g }}"  {% if g == selected_grammar %}{% endif %}><b>{{ g }}</b></option>  
    {% endfor %}
  </select>

{% if profile_type == 'skeleton' %}
  <button id="parse_profile" name="parse_profile"
	  type="submit" class="btn btn-dark btn-lg col-sm-2"
	  style="font-size:20px;"><b>Parse Skeleton</b>
  </button>
{% endif %}
</div>


<div id="msg"></div>
<div id="parse_results"></div>


<script>
  
$(document).ready( function() {

    // DataTable //
    var table = $('#example').DataTable({
        "dom": 'l<"top"i>rpt<"bottom"><"clear">',
	"lengthMenu": [[5, 6, 7, 8, 9, 10, 25, 50, -1], [5, 6, 7, 8, 9, 10, 25, 50, "All"]],

        "createdRow": function ( row, data, index ) {

	//$('td', row).addClass("sentence");
	
	    {# <!-- lacking coverage = (grammatical) + (no parses) -->   #}
            if ( data[1] === '1' && data[2] === '0' ) {
                //$('td', row).addClass('lackingcoverage');
                $(row).addClass('lackingcoverage');
            }

	
	    {# <!-- over parsing = (ungrammatical) + (parses) -->   #}
            if ( data[1] === '0' && data[2] > 0 ) {
                //$('td', row).addClass('overparse');
                $(row).addClass('overparse');
            }
	
        }
	
    });

    // Apply the search //
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        });
    });

});







$(function() {
	$("#parse_profile").bind("click", function() {

	    var parse_results = document.getElementById("parse_results");
	    var msg = document.getElementById("msg");
	    // msg.innerHTML = "<div style='text-align:center; font-size: 350%;'><i class='fa fa-spinner fa-pulse fa-4x fa-fw'></i></div>";
            var grammar_sel = document.getElementById("selected_grammar").value;
	    //alert(grammar_sel)
	    var table = $('#example').DataTable();

	    table.rows().eq(0).each( function ( index ) {
	        var row = table.row( index );
                var row_data = row.data();


	        // alert(row[3]);
                //$(row).toggleClass("lackingcoverage");
                //$(row).toggleClass("overparse");

	
		$.getJSON($SCRIPT_ROOT + '/_delphin-parse', {

		    sentence: row_data[3],   // sentence from the table
	            selected_grammar: grammar_sel,  // grammar in the select box
	            grammar_mode: "zhong_strict",
		    max_parses: "all"
	
		}, function(data) {

		    if (data.result) {
                      	r = String(data.result);
                       	row_data[2] = r;
	                table.cell(index, 2).data(r);
	                //table.row.add(row_data).draw(false);
	                //table.row(row).remove().draw();
		        //table.row(row_data).remove().draw();

		    } else {
			msg.append("Something bad happened! Please Report.<br>");
		    }

		});

	

	    });



	});
});
	
	
</script>






{# <!-- PARSE RESULTS OVERLAY --> #}
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id="overlay-content" class="overlay-content">
    <h2><span id="overlay-header"></span></h2>
    <div id="parse-results"></div>
    <!-- <div id="tooltip" class="tooltip"></div> -->
  </div>
</div>


<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>





<script>
$(function() {
    {# <!-- Inside #example table, when clicking on something with class .parse --> #}
    $("#example").on("click", ".parse", function () {
  
        var sent = this.attributes['sent'].value;
        var grammar_sel = document.getElementById("selected_grammar").value;
	var header = document.getElementById("overlay-header");
        var results = document.getElementById("parse-results");


        openNav();  // open the overlay
        results.innerHTML = "<div style='text-align:center; font-size: 350%;'><i class='fa fa-spinner fa-pulse fa-4x fa-fw'></i></div>";

	$.getJSON($SCRIPT_ROOT + '/_delphin_parse_output', {
	    sentence: sent,
	    selected_grammar: grammar_sel,
            max_parses: "3",
            lang: "{{ lang }}"

        }, function(data) {

	    if (data.html) {

		results.innerHTML = data.html;

                var parse_results = data.results;
                for (i in parse_results) {
                    deriv_elem = document.getElementById('viztree'+i);
                    deriv_json_string = parse_results[i]["deriv_json"];
                    deriv_json = JSON.parse(deriv_json_string);
                    try { drawTree(deriv_elem, deriv_json); } catch(err) {}

                    //alert(parse_results[i]["deriv_json"]);
                    mrs_elem = document.getElementById('mrs'+i);
                    mrs_json_string = parse_results[i]["mrs_json"];
                    mrs_json = JSON.parse(mrs_json_string);
                    try { MRS(mrs_elem, mrs_json); } catch(err) {}

                    dmrs_elem = document.getElementById('dmrs'+i);
                    dmrs_json_string =  parse_results[i]["dmrs_json"];
                    dmrs_json = JSON.parse(dmrs_json_string);
                    try { DMRS(dmrs_elem, dmrs_json); } catch(err) {}

                }

	    } else {
		msg.innerHTML = "We were not able to produce a parse! Please Report.";
	    }

	});

    });
});
</script>



{% endblock %}
