{% extends "index.html" %}
{% block welcome %}

<script src="https://d3js.org/d3.v3.js"></script>
<script src="{{ url_for('static', filename='tree.js') }}" language="javascript"></script>
<script src="{{ url_for('static', filename='dmrs.js') }}" language="javascript"></script>
<script src="{{ url_for('static', filename='mrs.js') }}" language="javascript"></script>
<script src="{{ url_for('static', filename='jquery-ui.js') }}" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}"/>
<script src="{{ url_for('static', filename='svg.js') }}" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='delphin-viz.css') }}"/>


<div class="col-sm-12 text-center">
  <h3> {{ results.keys()|length }}
    Parse Result{% if results.keys()|length > 1 %}s{% endif %}</h3>
</div>
<br>

<div class="col-sm-12 text-center">
<p>
  <i class="fa fa-quote-left"></i>&nbsp;&nbsp;
  <span class="h5">{{ sent }}</span>&nbsp;&nbsp;
  <i class="fa fa-quote-right"></i>
</p>

<hr>		


{# <!-- If there are results for the parse --> #}
{% if results %}

  {# <!-- for each available parse --> #}
  {% for i, r in results.items() %}

<span><h4>{{ i + 1 }}</h4></span>


<script>
  $( document ).ready(function() {
  elem = document.getElementById('viztree{{i}}');
  deriv_json_string = {{ r["deriv_json"]|tojson|safe }};
  deriv_json = JSON.parse(deriv_json_string);
  drawTree(elem, deriv_json);
  });
</script>
<span id="viztree{{i}}"><br></span><br>


<script>
  $( document ).ready(function() {
  elem = document.getElementById('mrs{{i}}');
  mrs_json_string =  {{ r["mrs_json"]|tojson|safe }};
  mrs_json = JSON.parse(mrs_json_string);
  MRS(elem, mrs_json);
  });
</script>
<span id="mrs{{i}}"></span><br>


{% if r["dmrs_json"]  %}
<script>
  $( document ).ready(function() {
  elem = document.getElementById('dmrs{{i}}');
  dmrs_json_string =  {{ r["dmrs_json"]|tojson|safe }};
  dmrs_json = JSON.parse(dmrs_json_string);
  DMRS(elem, dmrs_json);
  });
</script>
<span id="dmrs{{i}}"></span><br>
<!-- <div id="tooltip" class="tooltip"></div> -->
{% else %}
<br><b>The MRS is not well formed. A DMR could not be created.</b><br>
{% endif %}

<br>

{# <!-- If the derivation tree has any mal/rbst rules, show then here --> #}
{% if r['errors'] %}
  <b>Errors were found in this sentence:</b><br>
  {% for mal_labels in r['errors'] %}
    {{ mal_labels }}<br>
  {% endfor %}
{% else %}
<b>No errors were found in this sentence.</b>
{% endif %}


<hr>

{% endfor %}



{% else %}

No parses were found.

{% endif %}

    

</div>






<div class="col-sm-12 text-center">
  <form action="{{ url_for('itell_delphin_analyser') }}" style="display:inline;" method="POST">
    <input type="hidden" id="grammar" name="grammar" value="{{ grammar }}">
    <input type="hidden" id="grammar_mode" name="grammar_mode" value="{{ grammar_mode }}">
    <input type="hidden" id="max_parses" name="max_parses" value="{{ max_parses }}">
    <button type="submit" class="btn btn-dark btn-lg" style="font-size:20px;">
      <b>Check Another Sentence</b>
    </button>
  </form>
</div>



{% endblock %}
