{% extends "index.html" %}
{% block welcome %}


<form action="{{ url_for('delphin_analyser_output') }}"  method="POST">
  <input type="hidden" id="username" name="username" value="{{ current_user.name }}">
  <input type="hidden" id="grammar" name="grammar" value="{{ grammar }}">
  <br>

  <textarea id="sentence" name="sentence" type="textarea"  rows="2" 
	    class="col-sm-12 form-control form-control-lg text-center"
	    placeholder="Type your sentence here..."
	    required></textarea>

  <br>
  <div class="row">
    
    <select class="col-sm-9 form-control form-control-lg" id="grammar_mode" name="grammar_mode">
      {% if grammar == "erg" %}
      <option value="erg_robust" {% if grammar_mode == "erg_robust" %}selected{% endif %}>
	<b>Mal-Rule Enhanced ERG</b></option>
      <option value="erg_strict" {% if grammar_mode == "erg_strict" %}selected{% endif %}>
	<b>Strict ERG</b></option>
      {% endif %}

      {% if grammar == "zhong" %}
      <option value="zhong_strict" {% if grammar_mode == "zhong_strict" %}selected{% endif %}>
	<b>Strict ZHONG</b></option>
      {% endif %}  
    </select>
    
    <select class="col-sm-3 form-control form-control-lg" id="max_parses" name="max_parses">
      <option value="1" {% if max_parses == "1" %}selected{% endif %}><b>1 Parse</b></option>
      <option value="2" {% if max_parses == "2" %}selected{% endif %}><b>2 Parses</b></option>
      <option value="3" {% if max_parses == "3" %}selected{% endif %}><b>3 Parses</b></option>
      <option value="4" {% if max_parses == "4" %}selected{% endif %}><b>4 Parses</b></option>
      <option value="5" {% if max_parses == "5" %}selected{% endif %}><b>5 Parses</b></option>
      <option value="10" {% if max_parses == "10" %}selected{% endif %}><b>10 Parses</b></option>
      <option value="20" {% if max_parses == "20" %}selected{% endif %}><b>20 Parses</b></option>
      <option value="all" {% if max_parses == "all" %}selected{% endif %}><b>All Parses (slow)</b></option>
    </select>

    <button class="btn btn-dark btn-block" style="font-size:20px;"><b>Parse Sentence</b></button>
    
  </div>
</form>



{% if grammar == "zhong" %}
<br><br><br>
<h5>Here are some example sentences:</h5>
<ul>
  <li><span onClick="$('#sentence').text('我 学习 。');" >我 学习 。</span>
  <li><span onClick="$('#sentence').text('我 学习 汉语 。');" >我 学习 汉语 。</span>
  <li><span onClick="$('#sentence').text('我 会 说 汉语 也 会 说 日语 。');" >我 会 说 汉语 也 会 说 日语 。</span>
  <li><span onClick="$('#sentence').text('狗 叫 了 。');" >狗 叫 了 。</span>
  <li><span onClick="$('#sentence').text('我 狗 交 了 。');" >我 狗 交 了 。</span>
  <li><span onClick="$('#sentence').text('');" ></span>
  <li><span onClick="$('#sentence').text('');" ></span>    
    
</ul>
{% endif %}  



{% endblock %}
