{% extends "index.html" %}
{% block welcome %}


<form action="{{ url_for('save_lcc_sentence') }}" style="display:inline;" method="POST">
  <input type="hidden" id="username" name="username" value="{{ current_user.name }}">
  <input type="hidden" id="frame" name="frame" value="test">
  <br>
  <div id="game-input" class="btn-toolbar" role="toolbar">
    <textarea id="sentence" name="sentence" type="textarea"  rows="4" 
	      class="form-control"
	      placeholder="Type your sentence here..."></textarea>
    <br><br>
  </div>  
    <div class="col-sm-12 text-center ">
      <br><button type="submit" class="btn btn-dark"><b>Submit</b></button>
    </div>
</form>

<br><br>
<h5>Instructions</h5>
Here you can check individual sentences. If you want to check multiple sentences at the same time, you should use the <a href="{{ url_for('upload') }}">Assignment Checker</a> instead.

<br><br>
<b>License:</b> <br>
<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Sentences submitted
here will be anonymised and released under a
<a href="https://creativecommons.org/share-your-work/public-domain/cc0/"> Creative
  Commons CC0 Licence</a>.  All data collected in this wasy will be used to improve
this system. As NTU students, your privacy is very important to us. If you prefer
not to release your data, please use the <a href="{{ url_for('upload') }}">Assignment
  Checker</a> instead.

{% endblock %}
