{% extends "index.html" %}
{% block body %}

<h3>LCC APP </h3>
<br>



<hr>


<hr>
<h4>Team</h4>

<p><b>Luis Morgado da Costa</b> is a PhD candidate at the Interdisciplinary Graduate School, Nanyang Technological University (NTU), in Singapore.  He has a broad range of research interests, including from Natural Language Parsing and Generation, Computational Lexicography, and Computer Assisted Language Learning (CALL). He is currently looking at ways to improve CALL technology using Machine Translation.</p>



{% if current_user.id %}
<hr>
<h4>Available Apps</h4>

<form action="{{ url_for('upload') }}" style="display:inline;">
<button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Assignment <br> Checker</b></button>
</form>

<form action="{{ url_for('lcc_sentence') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Sentence <br>Checker</b></button>
</form>

{% endif %}



{% endblock %}
