{% extends "index.html" %}
{% block body %}

<h3>LCC APP </h3>
<br>



<hr>


<hr>


<h4>Team:</h4>
<p>
  <a href=''>Luis Morgado da Costa</a><br>
  <a href=''>Roger Winder</a><br>
  <a href=''>Shu Yun Li</a><br>
  <a href=''>Benedict Christopher Lin Tzer</a><br>
  <a href=''>Joseph Mackinnon</a><br>
  <a href=''>Francis Bond</a><br>
</p>



{% if current_user.id %}
<hr>
<h4>Available Apps</h4>

<form action="{{ url_for('upload') }}" style="display:inline;">
<button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Assignment <br> Checker</b></button>
</form>

<form action="{{ url_for('lcc_sentence') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Sentence <br>Checker</b></button>
</form>

{% endif %}



{% endblock %}
