{% extends "index.html" %}
{% block welcome %}

<h4>Team</h4>

<br>
<p> <a href='https://www.luismc.com'>Luis Morgado da Costa</a> {# is a PhD candidate at the Interdisciplinary Graduate School, Nanyang Technological University (NTU), in Singapore.  He has a broad range of research interests, including from Natural Language Parsing and Generation, Computational Lexicography, and Computer Assisted Language Learning (CALL). He is currently looking at ways to improve CALL technology using Machine Translation. #}</p>

<p> <a href='https://www.joannasio.space/'>Joanna Ut-Seong Sio</a> {# is a linguist and a comedian (stand-up and improvisation). She received her PhD in Leiden University Centre for Linguistics (LUCL) in the Netherlands. She has worked in Hong Kong and Singapore and is currently working at Palacký University, Olomouc, Czech Republic. She is interested in verbal arts and the use of improvisation for communication training. #}</p>

<p> <a href='http://lcc.soh.ntu.edu.sg/aboutus/Faculty-and-Staff/Pages/Roger-Winder.aspx'>Roger Winder</a> </p>
<p> <a href='http://lcc.soh.ntu.edu.sg/aboutus/Faculty-and-Staff/Pages/Li-Shu-Yun.aspx'>Shu Yun Li</a> </p>
<p> <a href='http://lcc.soh.ntu.edu.sg/aboutus/Faculty-and-Staff/Pages/Lin-Tzer-Liang-Benedict-Christopher.aspx'>Benedict Christopher Lin Tzer</a> </p>
<p> <a href='http://lcc.soh.ntu.edu.sg/aboutus/Faculty-and-Staff/Pages/Joe-MacKinnon.aspx'>Joseph Mackinnon</a> </p>
<p> <a href='https://www3.ntu.edu.sg/home/fcbond/'>Francis Bond</a> </p>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
