{% extends "index.html" %}
{% block welcome %}

<h4> Welcome to CALLIG!</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet, libero eget efficitur dictum, erat felis vehicula erat, quis viverra neque est sed metus. Suspendisse tincidunt dapibus augue. Etiam volutpat at urna a cursus. Fusce ut tellus feugiat, auctor nibh pretium, venenatis quam. Aliquam porttitor feugiat molestie. Donec rutrum vulputate mauris tempor gravida. Nulla feugiat, nunc sed laoreet ullamcorper, ipsum est consectetur tortor, imperdiet dignissim tortor diam ut elit. Proin vitae fermentum nisl.</p>




<hr>
{% if current_user.id %}

<div id="UserPanel">
<h5>Common User Panel</h5>
Here all users that have logged in can see what is happening. This is good to have games here (as well as on the top menu). Quick click and play.
</div>

<!-- <div class="btn-group"> -->
<button type="button" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Haiku on <br>Demand</b></button>
<form action="{{ url_for('sexwithme_info') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Sex with <br>Me</b></button>
</form>
  <button type="button" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Wicked<br>Proverbs</b></button>
  <button type="button" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Forced <br>Links</b></button>
<!-- </div> -->

<hr>
{% endif %}



{% if current_user.group == 'admin' %}
<div id="AdminPanel">
  <h5>Admin User Panel</h5>

  Here only admin users can see what is happening. This is useful for checking the databse, see our users, etc.


<br><br>
<h6>Games in the making</h6>
<ul>
  <li>Haiku (5-7-5 syllables requirement, random title, must-use word)</li>
  <li>Proverb (give Noun+Verb/Noun+Noun/Noun+Adjective, they write a proverb, grammatical), then explain the usage </li>
  <li>Sex with me </li>
  <li>Association: 2 nouns... link them (levels: Adj+Noun, Adj+Noun?, time, X number of links)</li>
  <li>Storytelling, random title, 1 word per sentence </li>
</ul>

<h6>We need a timer. (either to cut people off, or to store how long they took)</h6>

<br>
<h6>FOR THE FUTURE:</h6>
<ul>
  <li>game levels</li>
  <li>voting systems</li>
  <li></li>
  <li></li>
</ul>


<h6>FOR THE DISPLAY:</h6>
 we are thinking of displaying only 1 random result at a time...

<br>
<br>
"Sex with me is like..."  by Anonymous 
<br>
<br>


<h6>FOR THE GRAMMAR CORRECTION:</h6>
I'm thinking that I would like to not break the flow of the game unless there is something wrong with the sentence. Maybe on submission I can try to have the grammar loaded and just get a parse from it... if the grammar finds anything wrong, then we show an intermediate page about that sentence. (maybe even allowing them to correct their sentence?) 



There is some bug on resubmitting things when the clock automatically cycles through.
After countdown, make input and submit disappear. 
</div>
<hr>
{% endif %}








{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
