{% extends "index.html" %}
{% block welcome %}

<div class="text-center">
<h4>iTELL: An application suite for Intelligent Technology Enhanced Language Learning</h4>
</div>

<br>
<div>
</div>


<!-- <br> -->
<hr>




{% if (current_user.id) and ('lcc' in MODE) %}
<div id="LCC-UserPanel">
  <h5>LCC-APP: Improve your English Skills!</h5>
</div>
{% endif %}



{% if (current_user.id) and ('lcc' in MODE) %}
<form action="{{ url_for('upload') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Assignment <br> Checker</b></button>
</form>
{% endif %}

{% if (current_user.id) and ('lcc' in MODE) %}
<form action="{{ url_for('lcc_sentence') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
    <b>Sentence <br>Checker</b></button>
</form>
{% endif %}

{% if (current_user.id) and ('lcc' in MODE) %}
<form action="{{ url_for('lcc_intro') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Learn <br> More...</b></button>
</form>
{% endif %}

{% if (current_user.group == 'admin') and ('lcc' in MODE) %}
<br>
<form action="{{ url_for('inspect_corpus_db', db='lcc.db') }}" style="display:inline;" method="POST">
  <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
    <b> LCC-DB<br> Sentences</b>
  </button>
</form>
{% endif %}

{% if (current_user.group == 'admin') and ('lcc' in MODE) %}
<form action="{{ url_for('lcc_inspect_docs', db='lcc.db') }}" style="display:inline;" method="POST">
  <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
    <b> LCC-DB <br> Documents</b>
  </button>
</form>
{% endif %}

{% if (current_user.group == 'admin') and ('lcc' in MODE) %}
<br>
<form action="{{ url_for('inspect_corpus_db', db='ntucleX.db') }}" style="display:inline;" method="POST">
  <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
    <b> NTUCLE-X<br> Sentences</b>
  </button>
</form>
{% endif %}

{% if (current_user.group == 'admin') and ('lcc' in MODE) %}
<form action="{{ url_for('lcc_inspect_docs', db='ntucleX.db') }}" style="display:inline;" method="POST">
  <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
    <b> NTUCLE-X <br> Documents</b>
  </button>
</form>
{% endif %}

{% if (current_user.group == 'admin') and ('lcc' in MODE) %}
<form action="{{ url_for('lcc_load_ntucleX') }}" style="display:inline;" method="POST">
  <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
    <b>Upload <br> NTUCLE-X</b>
  </button>
</form>
{% endif %}


{% if (current_user.id) and ('lcc' in MODE) %}
<hr>
{% endif %}




{% if 'ixue' in MODE %}
{% if current_user.id %}
<div id="iXue-UserPanel">
<h5>iXue: Let's Learn Mandarin Chinese!</h5>
</div>

<form action="{{ url_for('ixue_jumbled') }}" style="display:inline;">
  <button  type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Jumbled <br>Sentences</b></button>
</form>

<form  action="{{ url_for('ixue_intro') }}"  style="display:inline;">
<button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Learn <br> More...</b></button>
</form>


<hr>
{% endif %}
{% endif %}



{% if 'callig' in MODE %}
{% if current_user.id %}
<div id="CALLIG-UserPanel">
<h5>CALLIG: Let's Play Some Awesome Games!</h5>
</div>

<form action="{{ url_for('haikuondemand_info') }}" style="display:inline;">
<button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Haiku on <br>Demand</b></button>
</form>

<form action="{{ url_for('sexwithme_info') }}" style="display:inline;">
  <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Sex with <br>Me</b></button>
</form>
<form action="{{ url_for('wickedproverbs_info') }}" style="display:inline;">
  <button type="submit"  class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Wicked<br>Proverbs</b></button>
</form>
<form action="{{ url_for('forcedlinks_info') }}" style="display:inline;">
  <button type="submit"  class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Forced <br>Links</b></button>
</form>
<!-- </div> -->
<form action="{{ url_for('callig_intro') }}" style="display:inline;">
<button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>Learn <br> More...</b></button>
</form>

<hr>
{% endif %}
{% endif %}





{% if not current_user.id %}
<div class="text-center">
<p>You need to be signed-in in order to use most of the available applications. Public access to apps is currently not supported.</p>

<p>However, you can still use the DELPH-IN's Grammarium Demo to inspect the output of some of DELPH-IN's grammars.<p>
  <form action="{{ url_for('delphin_analyser') }}" style="display:inline;" method="POST">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
      <b>Grammarium<br>Demo<br></b>
    </button>
  </form>


<!-- <p>If you were provided with credential If you have problems signing in, please contact <a href="#">luis.passos.morgado@gmail.com</a>.</p> -->



<hr>
<p>Meanwhile, you can learn more about other applications below.</p>

<p>

  {% if 'lcc' in MODE %}
  <form action="{{ url_for('lcc_intro') }}" style="display:inline;">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>LCC-APP</b></button>
  </form>
  {% endif %}

  
  {% if 'ixue' in MODE %}
  <form  action="{{ url_for('ixue_intro') }}"  style="display:inline;">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>iXue</b></button>
  </form>
  {% endif %}
  
  {% if 'callig' in MODE %}
  <form action="{{ url_for('callig_intro') }}" style="display:inline;">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;"><b>CALLIG</b></button>
  </form>
  {% endif %}
  
</p>

</div>
{% endif %}





{% if current_user.group == 'admin' %}
<div id="DelphinPanel">

  <h5>DELPH-IN Grammarium</h5>
  <form action="{{ url_for('delphin_analyser') }}" style="display:inline;" method="POST">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
      <b>DELPH-IN <br> Analyzer<br></b>
    </button>
  </form>

  <form action="{{ url_for('delphin_select_profile') }}" style="display:inline;" method="POST">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
      <b>DELPH-IN  <br> Profiles</b>
    </button>
  </form>

  <form action="{{ url_for('delphin_regression_testing') }}" style="display:inline;" method="POST">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
      <b>Regression<br>Testing</b>
    </button>
  </form>
  
  <form action="{{ url_for('delphin_update_grammars') }}" style="display:inline;" method="POST">
    <button type="submit" class="btn btn-dark btn-sq-lg" style="font-size:20px;">
      <b>Update <br> Grammars</b>
    </button>
  </form>


  
</div>
<hr>


<div id="AdminPanel">
  <h5>Admin User Panel</h5>
  
  <form action="{{ url_for('send_mail') }}" style="display:inline;">
    <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
      <b>Test Email <br> Settings</b>
    </button>
  </form>
  
  <form action="{{ url_for('useradmin') }}" style="display:inline;">
    <button type="submit" class="btn btn-outline-dark btn-sq-lg" style="font-size:20px;">
      <b>User<br>Manager</b>
    </button>
  </form>
  
  
</div>
<hr>


{% endif %}








{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
